@import 'utils/variables';
@import 'base/reset';
@import 'components/layout';
@import 'components/sidebar';
@import 'components/navbar';
@import 'components/content';
@import 'components/resume'; 
@import 'components/portfolio';
@import 'components/contact';
@import 'components/blog';