.resume-wrapper {
    margin-bottom: 50px;
    .title-wrapper {
        display: flex !important; align-items: center !important; gap: 20px !important; margin-bottom: 30px !important;
        .icon-box {
            flex-shrink: 0; width: 48px; height: 48px; background: #2b2b2c;
            border-radius: 12px; display: flex; align-items: center; justify-content: center;
            color: $accent; // Utilise $accent
            font-size: 1.2rem; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); border: 1px solid #383838;
        }
        .subsection-title { font-size: 1.5rem; font-weight: 600; margin: 0; }
    }
}

.timeline-list {
    margin-left: 24px !important; border-left: 1px solid #383838 !important; list-style: none !important; padding: 0 !important;
    .timeline-item {
        position: relative; padding-left: 45px; margin-bottom: 35px;
        &::before {
            content: ""; position: absolute; top: 6px; left: -6px; width: 12px; height: 12px;
            background: $accent; border-radius: 50%; box-shadow: 0 0 0 4px #1e1e1f;
        }
        .timeline-item-title { font-size: 1.1rem; font-weight: 600; color: #ffffff; margin-bottom: 8px; }
        .timeline-company { color: $accent; font-size: 0.95rem; margin-bottom: 5px; font-weight: 500; }
        span { font-size: 0.85rem; color: #d6d6d6; display: block; margin-bottom: 12px; }
        .timeline-text { font-size: 0.9rem; color: #d6d6d6; line-height: 1.6; }
    }
}

.download-cv-container {
    display: flex; justify-content: flex-end; margin-top: 30px;
    .btn-download {
        background: linear-gradient(to bottom right, #3f3f40 0%, #1e1e1f 100%) !important;
        border: 1px solid #383838 !important; padding: 12px 24px; border-radius: 12px;
        color: $accent !important; text-decoration: none !important; font-weight: 500;
        font-size: 0.9rem; display: flex; align-items: center; gap: 10px; transition: 0.3s;
        &:hover { background: #2b2b2c !important; transform: translateY(-2px); }
    }
}