* { margin: 0; padding: 0; box-sizing: border-box; }
body { 
    background-color: $bg-main; 
    color: $text-white; 
    font-family: 'Poppins', sans-serif;
    padding: 60px 0;
    display: flex; justify-content: center;
}
button { cursor: pointer; font-family: inherit; }